$breakpoints: (
  "laptopPortrait": (
    min-width: 376px,
  ),
  "laptopLandscape": (
    min-width: 920px,
  ),
  "desktop": (
    min-width: 1440px,
  ),
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
