@font-face {
  font-family: "Space Mono";
  src: local("Space Mono"), url("./fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: calc(100% - 15px);
  overflow: auto;
}
